importClassesFrom(Biobase, "Versioned")
importFrom(Biobase, validMsg)

export(
	peaklist2picklist,  
	picklist2method,
        picklist2Agilent,
        picklist2waters,
	plotMS2windows,
	xcms2method,
	beginTraml,
	addTargetSegment,
	endTraml,
	msn2xcms,
	plotGroups
)

exportClasses("MetShot")



