importClassesFrom(Biobase, "Versioned")
importFrom(Biobase, validMsg)

export(
	peaklist2picklist,  
	picklist2method,
	picklists2methods,
        picklist2Agilent,
        picklist2waters,
        picklists2waters,
	plotMS2windows,
	xcms2method,
	beginTraml,
	addTargetSegment,
	endTraml,
	msn2xcms,
	plotGroups,
       	plotAllSpectra
)

exportClasses("MetShot")



